body {
    background-color: rgb(221, 245, 207);
}

.container {
    max-width: max-content;
    border-radius: 35px;
}

.button {
    max-width: 140px;
}

p {
    margin-bottom: 30px;
}

.c {
    padding: 40px;
}

.nameForm {
    font-size: 40px;
    max-width: max-content;
}
